@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0e11;
  color: #eaecef;
  font-size: 15px;
  line-height: 1.5;
}

input, select, textarea {
  font-size: 15px !important;
}

::placeholder {
  font-size: 14px !important;
}

.text-xs {
  font-size: 0.8125rem !important;
  line-height: 1.15rem !important;
}

.text-sm {
  font-size: 0.9375rem !important;
  line-height: 1.35rem !important;
}

table td, table th {
  font-size: 14px !important;
}

nav a, nav button, aside a, aside button {
  font-size: 15px !important;
}

.text-gray-400, .text-slate-400, .text-muted {
  font-size: 13.5px !important;
}
